.cardContainer {
    border: 1px solid black;
    margin: 20px;
}

/* top container styles */
.topContainer {
    position: relative;
}
.promotedBackground {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -20px;
    margin-right: -1px;
    background-color: #68A7FF;
    padding: 10px 40px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}
.tagsContainer {
    position: absolute;
    bottom: 0px;
    display: flex;
}
.rankingContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    margin-right: 10px;
}
.whiteButton {
    background-color: white;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 30px;
}
.ratingContainer {
    background-color: #F5A626;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 10px;
    padding-top: 5px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ratingText {
    font-size: 24px;
}

.collegeImage { 
    opacity:1;
    filter: brightness(50%);
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */
}

/* bottom container styles */
.bottomContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.bottomRightContainer {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.collegeNameAndRating {
    font-size: 16px;
}
.collegeAddress {
   font-size: 13px;
   padding: 5px 0px;
}
.distanceFrom {
    font-weight: 200;
}
.collegeMatch {
    font-size: 14px;
    padding: 5px 0px;
}
.offerView {
    background-color: #C5EDDF;
    margin-left: -15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-right: 20px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}
.orginalPrice {
    text-decoration: line-through;
    font-size: 14px;
}
.offerPercentageView {
    background-color: #DD1B26;
    padding: 2px 5px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    font-size: 14px;
}
.actualPrice {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 26px;
}
.priceDuration {
    font-size: 10px;
}
.collegePerks {
    margin-top: 18px;
}
/* font-weight */
.fw800 {
    font-weight: 800;
}
.fw700 {
    font-weight: 700;
}
.fw600 {
    font-weight: 600;
}
.fw500 {
    font-weight: 500;
}
.fw400 {
    font-weight: 400;
}
.fw300 {
    font-weight: 300;
}
.fw200 {
    font-weight: 200;
}

/* colors */
.white {
    color: #fff;
}
.grey {
    color: #444444;
}
.light-grey {
    color: #444444;
}
.green {
    color: #32ac92;
}
.light-green {

}
.red {
    color: #DD1B26;
}
.dark-red {

}
.yellow {

}
.purple {

}
.blue {
    color: #40A2D4;
}